# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
logs/
build/
dist/*.exe
dist/*.msi
develop-eggs/
dist/
data/
datafile/
data/
datafile/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
bubble_analyser/weights/*.h5

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Vim temp files
**/*~
**/*.swp

# Internal Optimization Data (Benchmarking/DOE)
internal_optimization/
doe_results.json
doe_results_v2.json
doe_optimization.log
doe_optimization_v2.log
optimization.log
run_doe.py
run_doe_v2.py
validate_metrics.py
optimize_params.py
run_watershed_opt.py

tests/cnn_result/mask_IMG_9422_bubble_000.png
tests/cnn_result/mask_IMG_9422_bubble_001.png
tests/cnn_result/mask_IMG_9423_bubble_000.png
tests/cnn_result/mask_IMG_9423_bubble_001.png
tests/cnn_result/mask_IMG_9423_bubble_002.png
tests/cnn_result/mask_IMG_9423_bubble_003.png
tests/cnn_result/mask_IMG_9423_bubble_004.png
tests/cnn_result/mask_IMG_9423_bubble_005.png
tests/cnn_result/mask_IMG_9423_bubble_006.png
tests/cnn_result/mask_IMG_9423_bubble_007.png
tests/cnn_result/mask_IMG_9423_bubble_008.png
tests/cnn_result/mask_IMG_9423_bubble_009.png
tests/cnn_result/mask_IMG_9423_bubble_010.png
tests/cnn_result/mask_IMG_9423_bubble_011.png
tests/cnn_result/mask_IMG_9423_bubble_012.png
tests/cnn_result/mask_IMG_9423_bubble_013.png
tests/cnn_result/mask_IMG_9423_bubble_014.png
tests/cnn_result/mask_IMG_9423_bubble_015.png
tests/cnn_result/mask_IMG_9423_bubble_016.png
tests/cnn_result/mask_IMG_9423_bubble_017.png
tests/cnn_result/mask_IMG_9423_bubble_018.png
tests/cnn_result/mask_IMG_9423_bubble_019.png
tests/cnn_result/mask_IMG_9423_bubble_020.png
tests/cnn_result/mask_IMG_9423_bubble_021.png
tests/cnn_result/mask_IMG_9423_bubble_022.png
tests/cnn_result/mask_IMG_9423_bubble_023.png
tests/cnn_result/mask_IMG_9423_bubble_024.png
tests/cnn_result/mask_IMG_9423_bubble_025.png
tests/cnn_result/mask_IMG_9423_bubble_026.png
tests/cnn_result/mask_IMG_9423_bubble_027.png
tests/cnn_result/mask_IMG_9423_bubble_028.png
tests/cnn_result/mask_IMG_9423_bubble_029.png
tests/cnn_result/mask_IMG_9423_bubble_030.png
tests/cnn_result/mask_IMG_9423_bubble_031.png
tests/cnn_result/mask_IMG_9423_bubble_032.png
tests/cnn_result/mask_IMG_9423_bubble_033.png
tests/cnn_result/mask_IMG_9423_bubble_034.png
tests/cnn_result/mask_IMG_9423_bubble_035.png
tests/cnn_result/mask_IMG_9423_bubble_036.png
tests/cnn_result/mask_IMG_9423_bubble_037.png
tests/cnn_result/mask_IMG_9423_bubble_038.png
tests/cnn_result/mask_IMG_9423_bubble_039.png
tests/cnn_result/mask_IMG_9423_bubble_040.png
tests/cnn_result/mask_IMG_9423_bubble_041.png
tests/cnn_result/mask_IMG_9423_bubble_042.png
tests/cnn_result/mask_IMG_9423_bubble_043.png
tests/cnn_result/mask_IMG_9423_bubble_044.png
tests/cnn_result/mask_IMG_9423_bubble_045.png
tests/cnn_result/mask_IMG_9423_bubble_046.png
tests/cnn_result/mask_IMG_9423_bubble_047.png
tests/cnn_result/mask_IMG_9423_bubble_048.png
tests/cnn_result/mask_IMG_9423_bubble_049.png
tests/cnn_result/mask_IMG_9423_bubble_050.png
tests/cnn_result/mask_IMG_9423_bubble_051.png
tests/cnn_result/mask_IMG_9423_bubble_052.png
tests/cnn_result/mask_IMG_9423_bubble_053.png
tests/cnn_result/mask_IMG_9423_bubble_054.png
tests/cnn_result/mask_IMG_9423_bubble_055.png
tests/cnn_result/mask_IMG_9423_bubble_056.png
tests/cnn_result/mask_IMG_9423_bubble_057.png
tests/cnn_result/mask_IMG_9423_bubble_058.png
tests/cnn_result/mask_IMG_9423_bubble_059.png
tests/cnn_result/mask_IMG_9423_bubble_060.png
tests/cnn_result/mask_IMG_9423_bubble_061.png
tests/cnn_result/mask_IMG_9423_bubble_062.png
tests/cnn_result/mask_IMG_9424_bubble_000.png
tests/cnn_result/mask_IMG_9424_bubble_001.png
tests/cnn_result/mask_IMG_9424_bubble_002.png
tests/cnn_result/mask_IMG_9424_bubble_003.png
tests/cnn_result/mask_IMG_9424_bubble_004.png
tests/cnn_result/mask_IMG_9424_bubble_005.png
tests/cnn_result/mask_IMG_9424_bubble_006.png
tests/cnn_result/mask_IMG_9424_bubble_007.png
tests/cnn_result/mask_IMG_9424_bubble_008.png
tests/cnn_result/mask_IMG_9424_bubble_009.png
tests/cnn_result/mask_IMG_9424_bubble_010.png
tests/cnn_result/mask_IMG_9424_bubble_011.png
tests/cnn_result/mask_IMG_9424_bubble_012.png
tests/cnn_result/mask_IMG_9424_bubble_013.png
tests/cnn_result/mask_IMG_9424_bubble_014.png
tests/cnn_result/mask_IMG_9424_bubble_015.png
tests/cnn_result/mask_IMG_9424_bubble_016.png
tests/cnn_result/mask_IMG_9424_bubble_017.png
tests/cnn_result/mask_IMG_9424_bubble_018.png
tests/cnn_result/mask_IMG_9424_bubble_019.png
tests/cnn_result/mask_IMG_9424_bubble_020.png
tests/cnn_result/mask_IMG_9424_bubble_021.png
tests/cnn_result/mask_IMG_9424_bubble_022.png
tests/cnn_result/mask_IMG_9424_bubble_023.png
tests/cnn_result/mask_IMG_9424_bubble_024.png
tests/cnn_result/mask_IMG_9424_bubble_025.png
tests/cnn_result/mask_IMG_9424_bubble_026.png
tests/cnn_result/mask_IMG_9424_bubble_027.png
tests/cnn_result/mask_IMG_9424_bubble_028.png
tests/cnn_result/mask_IMG_9424_bubble_029.png
tests/cnn_result/mask_IMG_9424_bubble_030.png
tests/cnn_result/mask_IMG_9424_bubble_031.png
tests/cnn_result/mask_IMG_9424_bubble_032.png
tests/cnn_result/mask_IMG_9424_bubble_033.png
tests/cnn_result/mask_IMG_9424_bubble_034.png
tests/cnn_result/mask_IMG_9424_bubble_035.png
tests/cnn_result/mask_IMG_9424_bubble_036.png
tests/cnn_result/mask_IMG_9424_bubble_037.png
tests/cnn_result/mask_IMG_9424_bubble_038.png
tests/cnn_result/mask_IMG_9424_bubble_039.png
tests/cnn_result/mask_IMG_9424_bubble_040.png
tests/cnn_result/mask_IMG_9424_bubble_041.png
tests/cnn_result/mask_IMG_9424_bubble_042.png
tests/cnn_result/mask_IMG_9424_bubble_043.png
tests/cnn_result/mask_IMG_9424_bubble_044.png
tests/cnn_result/mask_IMG_9424_bubble_045.png
tests/cnn_result/mask_IMG_9424_bubble_046.png
tests/cnn_result/mask_IMG_9424_bubble_047.png
tests/cnn_result/mask_IMG_9424_bubble_048.png
tests/cnn_result/mask_IMG_9424_bubble_049.png
tests/cnn_result/mask_IMG_9424_bubble_050.png
tests/cnn_result/mask_IMG_9424_bubble_051.png
tests/cnn_result/mask_IMG_9424_bubble_052.png
tests/cnn_result/mask_IMG_9424_bubble_053.png
tests/cnn_result/mask_IMG_9424_bubble_054.png
tests/cnn_result/mask_IMG_9424_bubble_055.png
tests/cnn_result/mask_IMG_9424_bubble_056.png
tests/cnn_result/mask_IMG_9424_bubble_057.png
tests/cnn_result/mask_IMG_9424_bubble_058.png
tests/cnn_result/mask_IMG_9424_bubble_059.png
tests/cnn_result/mask_IMG_9424_bubble_060.png
tests/cnn_result/mask_IMG_9424_bubble_061.png
tests/cnn_result/mask_IMG_9424_bubble_062.png
tests/cnn_result/mask_IMG_9424_bubble_063.png
tests/cnn_result/mask_IMG_9424_bubble_064.png
tests/cnn_result/mask_IMG_9424_bubble_065.png
tests/cnn_result/mask_IMG_9424_bubble_066.png
tests/cnn_result/mask_IMG_9424_bubble_067.png
tests/cnn_result/mask_IMG_9424_bubble_068.png
tests/cnn_result/mask_IMG_9424_bubble_069.png
tests/cnn_result/mask_IMG_9424_bubble_070.png
tests/cnn_result/mask_IMG_9424_bubble_071.png
tests/cnn_result/mask_IMG_9424_bubble_072.png
tests/cnn_result/mask_IMG_9424_bubble_073.png
tests/cnn_result/mask_IMG_9424_bubble_074.png
tests/cnn_result/mask_IMG_9424_bubble_075.png
tests/cnn_result/mask_IMG_9424_bubble_076.png
tests/cnn_result/mask_IMG_9424_bubble_077.png
tests/cnn_result/mask_IMG_9424_bubble_078.png
tests/cnn_result/mask_IMG_9424_bubble_079.png
tests/cnn_result/mask_IMG_9424_bubble_080.png
tests/cnn_result/mask_IMG_9424_bubble_081.png
tests/cnn_result/mask_IMG_9424_bubble_082.png
tests/cnn_result/mask_IMG_9424_bubble_083.png
tests/cnn_result/mask_IMG_9424_bubble_084.png
tests/cnn_result/mask_IMG_9425_bubble_000.png
tests/cnn_result/mask_IMG_9425_bubble_001.png
tests/cnn_result/mask_IMG_9425_bubble_002.png
tests/cnn_result/mask_IMG_9425_bubble_003.png
tests/cnn_result/mask_IMG_9425_bubble_004.png
tests/cnn_result/mask_IMG_9425_bubble_005.png
tests/cnn_result/mask_IMG_9425_bubble_006.png
tests/cnn_result/mask_IMG_9425_bubble_007.png
tests/cnn_result/mask_IMG_9425_bubble_008.png
tests/cnn_result/mask_IMG_9425_bubble_009.png
tests/cnn_result/mask_IMG_9425_bubble_010.png
tests/cnn_result/mask_IMG_9425_bubble_011.png
tests/cnn_result/mask_IMG_9425_bubble_012.png
tests/cnn_result/mask_IMG_9425_bubble_013.png
tests/cnn_result/mask_IMG_9425_bubble_014.png
tests/cnn_result/mask_IMG_9425_bubble_015.png
tests/cnn_result/mask_IMG_9425_bubble_016.png
tests/cnn_result/mask_IMG_9425_bubble_017.png
tests/cnn_result/mask_IMG_9425_bubble_018.png
tests/cnn_result/mask_IMG_9425_bubble_019.png
tests/cnn_result/mask_IMG_9425_bubble_020.png
tests/cnn_result/mask_IMG_9425_bubble_021.png
tests/cnn_result/mask_IMG_9425_bubble_022.png
tests/cnn_result/mask_IMG_9425_bubble_023.png
tests/cnn_result/mask_IMG_9425_bubble_024.png
tests/cnn_result/mask_IMG_9425_bubble_025.png
tests/cnn_result/mask_IMG_9425_bubble_026.png
tests/cnn_result/mask_IMG_9425_bubble_027.png
tests/cnn_result/mask_IMG_9425_bubble_028.png
tests/cnn_result/mask_IMG_9425_bubble_029.png
tests/cnn_result/mask_IMG_9425_bubble_030.png
tests/cnn_result/mask_IMG_9425_bubble_031.png
tests/cnn_result/mask_IMG_9425_bubble_032.png
tests/cnn_result/mask_IMG_9425_bubble_033.png
tests/cnn_result/mask_IMG_9425_bubble_034.png
tests/cnn_result/mask_IMG_9425_bubble_035.png
tests/cnn_result/mask_IMG_9425_bubble_036.png
tests/cnn_result/mask_IMG_9425_bubble_037.png
tests/cnn_result/mask_IMG_9425_bubble_038.png
tests/cnn_result/mask_IMG_9425_bubble_039.png
tests/cnn_result/mask_IMG_9425_bubble_040.png
tests/cnn_result/mask_IMG_9425_bubble_041.png
tests/cnn_result/mask_IMG_9425_bubble_042.png
tests/cnn_result/mask_IMG_9425_bubble_043.png
tests/cnn_result/mask_IMG_9425_bubble_044.png
tests/cnn_result/mask_IMG_9425_bubble_045.png
tests/cnn_result/mask_IMG_9425_bubble_046.png
tests/cnn_result/mask_IMG_9425_bubble_047.png
tests/cnn_result/mask_IMG_9425_bubble_048.png
tests/cnn_result/mask_IMG_9425_bubble_049.png
tests/cnn_result/mask_IMG_9425_bubble_050.png
tests/cnn_result/mask_IMG_9425_bubble_051.png
tests/cnn_result/mask_IMG_9425_bubble_052.png
tests/cnn_result/mask_IMG_9425_bubble_053.png
tests/cnn_result/mask_IMG_9425_bubble_054.png
tests/cnn_result/mask_IMG_9425_bubble_055.png
tests/cnn_result/mask_IMG_9425_bubble_056.png
tests/cnn_result/mask_IMG_9425_bubble_057.png
tests/cnn_result/mask_IMG_9425_bubble_058.png
tests/cnn_result/mask_IMG_9425_bubble_059.png
tests/cnn_result/mask_IMG_9425_bubble_060.png
tests/cnn_result/mask_IMG_9425_bubble_061.png
tests/cnn_result/mask_IMG_9425_bubble_062.png
tests/cnn_result/mask_IMG_9425_bubble_063.png
tests/cnn_result/mask_IMG_9425_bubble_064.png
tests/cnn_result/mask_IMG_9425_bubble_065.png
tests/cnn_result/mask_IMG_9425_bubble_066.png
tests/cnn_result/mask_IMG_9425_bubble_067.png
tests/cnn_result/mask_IMG_9425_bubble_068.png
tests/cnn_result/mask_IMG_9425_bubble_069.png
tests/cnn_result/mask_IMG_9425_bubble_070.png
tests/cnn_result/mask_IMG_9425_bubble_071.png
tests/cnn_result/mask_IMG_9425_bubble_072.png
tests/cnn_result/mask_IMG_9425_bubble_073.png
tests/cnn_result/mask_IMG_9425_bubble_074.png
tests/cnn_result/mask_IMG_9425_bubble_075.png
tests/cnn_result/mask_IMG_9425_bubble_076.png
tests/cnn_result/mask_IMG_9425_bubble_077.png
tests/cnn_result/mask_IMG_9425_bubble_078.png
tests/cnn_result/mask_IMG_9425_bubble_079.png
tests/cnn_result/mask_IMG_9425_bubble_080.png
tests/cnn_result/mask_IMG_9425_bubble_081.png
tests/cnn_result/mask_IMG_9425_bubble_082.png
tests/cnn_result/mask_IMG_9425_bubble_083.png
tests/cnn_result/mask_IMG_9425_bubble_084.png
tests/cnn_result/mask_IMG_9425_bubble_085.png
tests/cnn_result/mask_IMG_9425_bubble_086.png
tests/cnn_result/mask_IMG_9425_bubble_087.png
tests/cnn_result/mask_IMG_9425_bubble_088.png
tests/cnn_result/mask_IMG_9425_bubble_089.png
tests/cnn_result/mask_IMG_9425_bubble_090.png
tests/cnn_result/mask_IMG_9425_bubble_091.png
tests/cnn_result/mask_IMG_9425_bubble_092.png
tests/cnn_result/mask_IMG_9425_bubble_093.png
tests/cnn_result/mask_IMG_9425_bubble_094.png
tests/cnn_result/mask_IMG_9425_bubble_095.png
tests/cnn_result/mask_IMG_9425_bubble_096.png
tests/cnn_result/mask_IMG_9425_bubble_097.png
tests/cnn_result/mask_IMG_9425_bubble_098.png
tests/cnn_result/mask_IMG_9425_bubble_099.png
tests/cnn_result/splash_IMG_9422.png
tests/cnn_result/splash_IMG_9423.png
tests/cnn_result/splash_IMG_9424.png
tests/cnn_result/splash_IMG_9425.png
